body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #004080;
    color: white;
    padding: 1rem;
    text-align: center;
}

header nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
}

form {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

form input, form select, form button {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #004080;
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: #0066cc;
}

#documentos-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

#documentos-list div {
    background: white;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    font-size: 15px;
    background-color:#52658C;
    color: black;
    text-align:center;
    padding: 10px;
  }
